In [1]:
from pyspark import SparkContext
sc = SparkContext()

# partitioner shuffle

### 会消掉一级进行合并

In [40]:
rdd = sc.parallelize([('a', 1), ('a', 2), ('b', 1), ('b', 3), ('c',1), ('ef',5)])
rdd1 = rdd.repartition(4)
rdd1.glom().collect()

[[], [], [], [('a', 1), ('a', 2), ('b', 1), ('b', 3), ('c', 1), ('ef', 5)]]

In [1]:
sc.parallelize([8,96,240,400,401,500,650,800]).flatMap(lambda x: [(x, x)]).collect()

In [109]:
rdd = sc.parallelize([8,96,240,400,401,500,650,800]).map(lambda x: (x, x))
rdd.partitionBy(4,lambda x:(x-1)/(800/4)).glom().collect()

[[(8, 8), (96, 96)],
 [(240, 240), (400, 400)],
 [(401, 401), (500, 500)],
 [(650, 650), (800, 800)]]

In [61]:
rdd.partitionBy(4).glom().collect()

[[(8, 8), (96, 96), (240, 240), (400, 400), (500, 500), (800, 800)],
 [(401, 401)],
 [(650, 650)],
 []]

In [68]:
rdd.repartition(4).glom().collect()

[[],
 [],
 [],
 [(8, 8),
  (96, 96),
  (240, 240),
  (400, 400),
  (401, 401),
  (500, 500),
  (650, 650),
  (800, 800)]]

In [107]:
rdd = sc.parallelize([34,67,32,21,5,24,45,36,89])
index = 6
while True:
    x = rdd.first() #Changed after first time
    left = rdd.filter(lambda z:z<x)
    right = rdd.filter(lambda z:z>x)
    mid = left.count()
    if mid == index:
        print '==',x
        break
    if index < mid:
        rdd = left
    else:
        rdd = right
        index = index - mid -1
        rdd.cache()
    print left.collect(),right.collect(),rdd.collect(),index

Sort the adjective-noun pairs with frequency and find the median pair.

In [120]:
numPartitions = 10
lines = sc.textFile('adj_noun_pairs.txt', numPartitions)
pairs = lines.map(lambda l: tuple(l.split())).filter(lambda p: len(p)==2)
pairs.cache()

PythonRDD[536] at RDD at PythonRDD.scala:48

In [132]:
pairs_freq = pairs.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).sortBy(lambda x:x[1], False).zipWithIndex()
pairs_freq.cache()


# .zipWithIndex().map(lambda x:(x[1],x[0]))

PythonRDD[612] at RDD at PythonRDD.scala:48

In [144]:
pairs_i = pairs.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).sortBy(lambda x:x[1], False).zipWithIndex().map(lambda x:(x[1],x[0]))
middle = pairs_i.count()/2
pairs_i.lookup(middle)

# .zipWithIndex().map(lambda x:(x[1],x[0]))

[((u'indic', u'tamil'), 1)]

In [141]:
pairs_freq.map(lambda x:x).take(5)

[(((u'external', u'link'), 8136), 0),
 (((u'19th', u'century'), 2869), 1),
 (((u'20th', u'century'), 2816), 2),
 (((u'same', u'time'), 2744), 3),
 (((u'first', u'time'), 2632), 4)]

In [139]:
pairs_freq.map(lambda x:(x[1],x[0])).take(5)

[(0, ((u'external', u'link'), 8136)),
 (1, ((u'19th', u'century'), 2869)),
 (2, ((u'20th', u'century'), 2816)),
 (3, ((u'same', u'time'), 2744)),
 (4, ((u'first', u'time'), 2632))]

In [140]:
pairs_freq.take(4)

[(((u'external', u'link'), 8136), 0),
 (((u'19th', u'century'), 2869), 1),
 (((u'20th', u'century'), 2816), 2),
 (((u'same', u'time'), 2744), 3)]

In [126]:
pairs.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).sortBy(lambda x:x[1], False).take(3)

[((u'external', u'link'), 8136),
 ((u'19th', u'century'), 2869),
 ((u'20th', u'century'), 2816)]

# 作业 2 df

In [3]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext()
spark = SparkSession(sc)

In [7]:
import pandas as pd

In [9]:
df1 = pd.read_csv('Customer.csv')
df2 = pd.read_csv('SalesOrderDetail.csv')
df3 = pd.read_csv('SalesOrderHeader.csv')

In [13]:
# df1.columns,df2.columns,df3.columns
df1.head(1)

,CustomerID,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,CompanyName,SalesPerson,EmailAddress,Phone,PasswordHash,PasswordSalt,rowguid,ModifiedDate
0,1,0,Mr.,Orlando,N.,Gee,NaN,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,245-555-0173,L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=,1KjXYs4=,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2005-08-01 00:00:00.000

In [15]:
df2.head(1)

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,71774,110562,1,836,356.898,0.0,356.898,E3A1994C-7A68-4CE8-96A3-77FDD3BBD730,2008-06-01 00:00:00.000

In [16]:
df3.head(1)

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,BillToAddressID,ShipMethod,CreditCardApprovalCode,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,71774,2,2008-06-01 00:00:00.000,2008-06-13 00:00:00.000,2008-06-08 00:00:00.000,5,0,SO71774,PO348186287,10-4020-000609,...,1092,CARGO TRANSPORT 5,NaN,880.3484,70.4279,22.0087,972.785,NaN,89E42CDC-8506-48A2-B89B-EB3E64E3554E,2008-06-08 00:00:00.000

In [20]:
dfCustom = spark.read.csv('Customer.csv', header=True, inferSchema=True)
dfDetail   = spark.read.csv('SalesOrderDetail.csv', header=True, inferSchema=True)
dfHeader   = spark.read.csv('SalesOrderHeader.csv', header=True, inferSchema=True)

In [37]:
CustomID.take(2)

[Row(CustomerID=1, SalesOrderID=None), Row(CustomerID=2, SalesOrderID=None)]

'inner', 'outer', 'full', 'fullouter', 'leftouter', 'left', 'rightouter', 'right', 'leftsemi', 'leftanti', 'cross'.

In [71]:
TotalPrice = dfDetail.select('*',(dfDetail.UnitPrice*dfDetail.OrderQty*(1-dfDetail.UnitPriceDiscount)).alias('netprice'))\
            .groupBy('SalesOrderID').sum('netprice')\
                .withColumnRenamed('sum(netprice)','TotalPrice')#.collect()#.take(1)
CustomID = dfCustom.join(dfHeader,'CustomerID','left').select('CustomerID','SalesOrderID')
df = CustomID.join(TotalPrice,'SalesOrderID','left').groupBy('CustomerID').sum('TotalPrice').withColumnRenamed('sum(TotalPrice)','TotalPrice').na.fill(0)

In [69]:
CustomID.join(TotalPrice,'SalesOrderID','left').groupBy('CustomerID').count().sort('count',ascending = False).take(2)

[Row(CustomerID=516, count=1), Row(CustomerID=29942, count=1)]

In [84]:
TotalPrice = dfDetail.select('*',(dfDetail.UnitPrice*dfDetail.OrderQty*(1-dfDetail.UnitPriceDiscount)).alias('netprice')).groupBy('SalesOrderID').sum('netprice').withColumnRenamed('sum(netprice)','TotalPrice')

CustomID = dfCustom.join(dfHeader,'CustomerID','left').select('CustomerID','SalesOrderID')

df = CustomID.join(TotalPrice,'SalesOrderID','left').groupBy('CustomerID').sum('TotalPrice').withColumnRenamed('sum(TotalPrice)','TotalPrice').na.fill(0)

#Calculate the average spending for all customer.

mean = df.groupBy().avg("TotalPrice").take(1)[0][0]

#Filter for the final answer.

df = df.filter(df.TotalPrice > mean).sort("TotalPrice",ascending=False)

# 作业3 RDD

In [91]:
numPartitions = 10
lines = sc.textFile('adj_noun_pairs.txt', numPartitions)
pairs = lines.map(lambda l: tuple(l.split())).filter(lambda p: len(p)==2)
pairs.cache()

PythonRDD[550] at RDD at PythonRDD.scala:48

In [96]:
pairs.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).sortBy(lambda x:x[1],False).take(10)

[((u'external', u'link'), 8136),
 ((u'19th', u'century'), 2869),
 ((u'20th', u'century'), 2816)]

In [97]:
TPair = pairs.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).sortBy(lambda x:x[1], False).zipWithIndex().map(lambda x:(x[1],x[0]))

CNT = TPair.count()/2

TPair.lookup(CNT)

[((u'indic', u'tamil'), 1)]

# 作业集合

In [ ]:
e1 = g.edges.filter("relationship = 'follow'")
v1 = e1.groupBy('dst').count().select('dst')
v2 = e1.groupBy('src').count().orderBy('count', ascending=False)
v3 = v2.select('src').subtract(v1.select('dst'))
v4 = v3.join(v2,'src').first()
v.filter(v['id']==v4.src).show()

In [98]:
lines = sc.textFile('wasb://cluster@msbd.blob.core.windows.net/data/adj_noun_pairs.txt', numPartitions)

In [ ]:
pairs = lines.map(lambda l: tuple(l.split())).filter(lambda p: len(p)==2)
pairs.cache()

In [105]:
e = sc.parallelize([(1,2),(1,3),(9,4),(2,1),(3,1),(4,1)]).toDF(["src","dst"])
r = sc.parallelize([(1,),(2,),  (9,),(4,)]).toDF(['src'])
# r1 = e.join(r,'src').groupBy('dst').count()
# r1.show()
e.join(r,'src').collect()

[Row(src=9, dst=4),
 Row(src=1, dst=2),
 Row(src=1, dst=3),
 Row(src=2, dst=1),
 Row(src=4, dst=1)]

In [114]:
sc.parallelize([(1,2),(1,3),(9,4),(2,1),(3,1),(4,1)],3).partitionBy(4,lambda x:x%2).glom().collect()

[[(2, 1), (4, 1)], [(1, 2), (1, 3), (9, 4), (3, 1)], [], []]

In [115]:
n = 20
allnumbers = sc.parallelize(xrange(2, n), 4).cache()
def partitionsize(it): 
    s = 0
    for i in it:
        s += 1
    yield s

print allnumbers.mapPartitions(partitionsize).collect()
print allnumbers.mapPartitions(partitionsize).glom().collect()

[4, 5, 4, 5]
[[4], [5], [4], [5]]

In [118]:
pd.read_csv('./points.txt').head(1)

    1915   54625
0  83327   40420

In [116]:
numPartitions = 10
P = (5000, 5000)
K = 10

points = sc.textFile('points.txt',numPartitions)
pairs = points.map(lambda l: tuple(l.split()))
pairs = pairs.map(lambda pair: (int(pair[0]),int(pair[1])))
pairs.cache()

PythonRDD[797] at RDD at PythonRDD.scala:48

In [202]:
sc.broadcast(P)
sub_top = K
sc.broadcast(sub_top)

In [219]:
def close_f(iterator):
    top = [] # keep a top K list within each partition
    for x in iterator:
        r2 = (P[0]-x[0])**2+(P[1]-x[1])**2 # distance^2
        if len(top) < sub_top: # add to max length
            top.append((r2,x))
        else :
            temp_value = [t[0] for t in top]
            temp_max = max(temp_value) # longest distance
            if temp_max > r2: #exchange if find a small one
                for t in top:
                    top.remove(t)
                    break
                top.append((r2,x))
    yield top # a list of k near

result = pairs.repartition(numPartitions).mapPartitions(close_f).flatMap(lambda x:x)

result.sortByKey().take(K)

SyntaxError: invalid syntax (<ipython-input-219-7b7b57572056>, line 2)

In [213]:
def close_f(iterator):
    top = [] # keep a top K list within each partition
    for x in iterator:
        r2 = (P[0]-x[0])**2+(P[1]-x[1])**2 # distance^2
        if len(top) < sub_top: # add to max length
            top.append((r2,x))
        else :
            temp_value = [t[0] for t in top]
            temp_max = max(temp_value) # longest distance
            if temp_max > r2: #exchange if find a small one
                for t in top:
                    top.remove(t)
                    break
                top.append((r2,x))
    yield top # a list of k near

In [205]:
result = pairs.repartition(numPartitions).mapPartitions(close_f).flatMap(lambda x:x)

In [208]:
result.sortByKey().take(K)

[(724104, (5402, 4250)),
 (757325, (4587, 5766)),
 (2717585, (3601, 4128)),
 (3759850, (6935, 4875)),
 (5867413, (5537, 2638)),
 (6400584, (2522, 4490)),
 (7081785, (4496, 7613)),
 (8016178, (3797, 7563)),
 (9014437, (7511, 3354)),
 (10698820, (2448, 2954))]

# 2

In [ ]:
rule12 = g.find('(a)-[]->(b)').filter('a.id == "h"').select('b.name')
rule34 = g.find('(a)-[g]->(c);(c)-[]->(b)').filter('a.id == "h"').filter('a.id != b.id').filter('g.relationship == "friend"').select('b.name')
result = rule12.union(rule34).distinct()
result.show()

# 3

In [214]:
from pyspark.streaming import StreamingContext

ssc = StreamingContext(sc, 10)

numPartitions = 8
rdd = sc.textFile('numbers.txt', numPartitions)
rdd = rdd.map(lambda u: int(u))
rddQueue = rdd.randomSplit([1]*100, 123)
numbers = ssc.queueStream(rddQueue)

In [218]:
s = numbers.flatMap(lambda x:x).count()
ssc.start()
ssc.awaitTermination(200)
ssc.stop(False)
print("Finished")

Py4JJavaError: An error occurred while calling o3271.start.
: java.lang.IllegalStateException: StreamingContext has already been stopped
	at org.apache.spark.streaming.StreamingContext.start(StreamingContext.scala:608)
	at org.apache.spark.streaming.api.java.JavaStreamingContext.start(JavaStreamingContext.scala:556)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)